@import "color";
@import "mixin";

body{
    @include sizes(none,100%);
    background-color:$color-black;
    margin:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}
.contenido{
    @include sizes(none,100%);
}

/*-----header-----*/
header{
    @include sizes(30%,100%);
    background-color: $color-black;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(47, 47, 47, 0.445)
    )
}
header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
header li{
    list-style: none;
}
header ul li a{
    color: $color-primario;
    text-transform:capitalize;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    margin: 5px 30px;

}

header a:hover{
    color:$color-secundario;
}

/*-----fin header-----*/

/*-----hero-----*/

.herosection{
    @include sizes(100vh,100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 30px 30px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ),
    url(../img/heroimg.jpg);
    background-position:center;
    background-size:cover;
    margin:auto;
    p{
    color: $color-white;
    font-size: 2rem;
    margin: 0 20px 0 20px;
    font-family: 'Anton', sans-serif;
    a{
    text-decoration: none;
    font-size: 2.2rem;
    color:$color-primario;
}
}
}

.herosection p a:hover{
    text-decoration: underline;
}

/*-----fin hero-----*/

h2{
    color:$color-primario;
    font-size: 3rem;
    text-align: center;
    margin: 100px 0px 10px 0px;
}

/*-----tajetas-----*/
.tarjetas{
    @include sizes(100vh,none);
    display:grid;
    grid-template-columns: auto auto auto;
    grid-row: auto;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    @include sizes(420px,280px);
    background-color: #474747;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    h3{
    font-size: 2rem;
    color:$color-secundario;
    }
    p{
    font-size: 1.3rem;
    }
    img{
    @include sizes(none,180px);
    padding: 0px 0px 0px 0px;
    }
}
.card:hover{
    transform: translateY(-5%);
    background-color: $color-primario;
    box-shadow: 15px 15px 20px $color-secundario;
    transition: 1s;
    }
.proyectos a{
    color: $color-primario;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.proyectos a:hover{
    color:$color-secundario;
}


/*----- fin tarjetas-----*/

/*-----sobreMi-----*/

.sobre-mi{
    @include sizes(120vh,100%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url(../img/galaxi.jpg); 
    background-position: center center;
    background-size: cover;
    p{
    @include sizes(none,50%);
    color: $color-white;
    font-size: 2.5rem;
    padding: 10px;
    margin-left: 3%;
    }
    a{
    @include sizes(none,10%);
    text-decoration: none;
    background-color: $color-primario;
    color:$color-secundario;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align:center;
    border-radius: 15px;
    padding: 16px;
    margin: 5%;
    }
}
.sobre-mi a:hover{
    color:$color-primario;
    background-color: $color-secundario;
    transition: 2s;
}

/*-----final sobre mi------*/

/*------contacto-----*/
    .contacto{
        @include sizes(100vh,100%);
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        p{
        margin: 0;
        color: $color-white;
        font-size: 1.8rem;
        }
    }
    .email input{
        @include sizes(none,50%);
        padding: 10px;
        margin: 20px 0px;
        font-size: 1.7rem;
        text-align: center;
        border: none;
        border-bottom: 2px solid $color-secundario;
        background-color: $color-black;
        color: $color-white;
        input:focus{
        background-color:$color-primario;
        border-spacing: none;
        color:$color-secundario;
        transition: 3s;
    }
    }

    .texto textarea{
        margin: 30px 0px;
        font-size: 1.3rem;
        color: $color-primario;
        background-color: rgba(47, 47, 47, 0.445);
    }
    
    .contacto form a{
        @include sizes(none,80px);
        background-color:#3d3d3c;
        border-radius: 8px;
        padding: 15px 40px;
        margin: 30px;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        text-decoration: none;
        color: $color-secundario;
    }
    .contacto a:hover{
        background-color: $color-primario;
        transition: 2s;
    }
/*------fin del contacto------*/

/*------sobre-mi-page------*/
.sobre-mi-page{
    @include sizes(99vh,100%);
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-bottom:solid 3px $color-secundario;
    padding: 0px;
    p{
    @include sizes(none,60%);
    color: $color-white;
    margin: 0px 40px;
    }
    p span{
    color: $color-secundario;
    }
    img{
    @include sizes(55%,30%);
    margin: 0px 10px 0px 0px;
}
}
.btn-sobre-mi{
    text-align: center;
    margin: 30px;
    a{
    text-decoration: none;
    color: $color-secundario;
    border-bottom: 1px solid $color-secundario;
    padding: 5px 10px;
    font-size: 1.3rem;
}
}
.btn-sobre-mi a:hover{
    color: $color-white;
    transition: 1s;
}

/*------fin sobre-mi-page------*/


/*------proyectos-page------*/
.proyectos-page{
    @include sizes(170vh,none);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.proyecto-1{
    @include sizes(360px,440px);
}
.proyecto-1 img{
    @include sizes(100%,100%);
}
.proyecto-1 h6{
    color: $color-white;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
}
.proyecto-1 a{
    text-decoration: none;
}
.proyecto-1 a h6{
    color: #ec4204;
}
/*------fin proyectos-page------*/


/*------footer------*/
footer{
    @include sizes(55px,100%);
    background-color: #737902;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:flex-end;
    img{
    @include sizes(40px,40px);
    margin: 5px 20px 5px 0px;
    }
}

footer:hover{
    background-color: $color-primario;
}

/*------fin footer------*/





/*******/
@media only screen and (max-width: 768px){  
    
    .herosection p{
        color: $color-white;
        font-size: 1.5rem;
        margin: 0 10px 0 20px;
        font-family: 'Anton', sans-serif;
        a{
        font-size: 2rem;
        }
    }
    
    .tarjetas{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 50% 0%;
    }
    .card a{
        text-decoration: none;
        color: $color-secundario;
        font-size: 1.2rem;
        padding: 8px;
        margin: 10px;
    }
    .sobre-mi{
        p{
        font-size: 1.5rem;
        }
        a{
        @include sizes(none,10%);
        font-size: 1rem;
        padding: 16px;
        margin: 5%;
        }
    }
    .sobre-mi-page{
        font-size: 1.5rem;
    p{
        @include sizes(none,60%);
        margin: 0px 30px;
        }
    img{
        @include sizes(35%,25%);
        margin: 0px 10px 0px 0px;
        }
    }
    footer{
        background-color: $color-primario;
    }
}

@media only screen and (max-width: 426px){

    header{
        @include sizes(40%,none);
        ul{
        padding: 0;
        }
        ul li a{
        margin: 0px 5px;
        padding: 3px;
        font-size: 1rem;
        }
    }
    .herosection p{
        color: $color-white;
        font-size: 1rem;
        margin: 0 20px 0 20px;
        font-family: 'Anton', sans-serif;
        a{
        font-size: 1.4rem;
        }
    }
    h2{
        margin-top: 25px;
    }
    .tarjetas{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 105% 0%;
    }
    .sobre-mi{
        p{
        @include sizes(none,80%);
        font-size: 1.5rem;
        }
        a{
        @include sizes(none,20%);
        font-size: 1rem;
        padding: 16px;
        margin: 5%;
        }
    } 
    .contacto p{
        margin: 0;
        color: $color-white;
        font-size: 1.5rem;
    }
    .email input{
        @include sizes(none,70%);
        padding: 10px;
        margin: 20px 0px;
        font-size: 1.1rem;
    }
    
    .email input:focus{
        transition: 0s;
        
    }

    .texto textarea{
        margin: 30px 0px;
        font-size: 1.3rem;
    }
    
    .contacto form a{
        background-color:$color-black;
        font-size: 1.2rem;
    }
    .contacto a:hover{
        background-color: $color-black;
    }
    .sobre-mi-page{
        font-size: 1.4rem;
        p{
        @include sizes(none,80%);
        color: $color-white;
        margin: 0px 40px;
        }
        p span{
        font-size: 1.6rem;
        }
        img{
        display: none;
        }
    }
    .btn-sobre-mi a{
        text-decoration: none;
        color: $color-secundario;
        border-bottom: 1px solid $color-secundario;
        padding: 5px 5px;
        font-size: 1rem;
    }
}
